# Dependencies
node_modules

# Turbo
.turbo

# Build outputs
dist
target

# Env files
.env
.env.*

# Rust
src-tauri/target

# Tauri
src-tauri/gen

# Debug
*.log

# Misc
.DS_Store
*.pem

# Context (conductor)
.context
